table {
    width: 100%;
}
.mat-card {
    text-align: center;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}
.mat-table {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mb-20 {
    margin-bottom: 20px;
}

.query-full-width {
    width: 75%;
  }

  td{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  .example-card {
    max-width: 75%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card {
      margin-top: 40px;
  }


  .test {
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
}
.show {
    overflow: visible;
    height: auto;
}

.mat-card-subtitle{
    display: inline;
}